<div id="TaskBody" width="100%">
  <table>
    <tr>
       Task : <input type="text" id="name"/><br>
      </tr>
     <tr>
     
      <div class="d-flex  my-4">
          <span class="indigo-text mr-2 mt-1">Priority</span>
      <span class="font-weight-bold indigo-text mr-2 mt-1">0</span>
      <form class="range-field w-25">
          <input type="range" class="custom-range" min="0" max="30" />
        </form>
          <span class="font-weight-bold indigo-text ml-2 mt-1">30</span>
        </div>
     </tr>
    <tr></tr>
  </table>
</div>