<div id="viewTaskBody">
  <table>

  <tr>
  
    <div class="view-task">
  <label>Task:</label>
  <input type="text">
  </div>
  <div class="view-task">
  <label>Parent Task:</label>
  <input type="text">
  </div>
</tr>
<tr>
  <div class="view-task-1">
      <label>Priority From:</label>
      <input type="text" size="1">
     
          <label>Priority To:</label>
          <input type="text" size="1">
         
              <label>Start date:</label>
              <input type="date" style="width:155px">
           
      <label>End date:</label>
      <input type="date" style="width:155px">
      </div>
    </tr>
    
  </table>
</div>
