<div id="viewTaskBody">
  <table>

  <tr>
  
    <div class="view-task">
  <label>Task:</label>
  <input type="text">
  </div>
  <div class="view-task">
  <label>Parent Task:</label>
  <input type="text">
  </div>
</tr>
<tr>
  <div class="view-task-1">
      <label>Priority From:</label>
      <input type="text" size="1">
     
          <label>Priority To:</label>
          <input type="text" size="1">
         
              <label>Start date:</label>
              <input type="date" style="width:155px">
           
      <label>End date:</label>
      <input type="date" style="width:155px">
      </div>
    </tr>


    
  </table>

  <!-- <form id="viewForm">
 <button class="btn btn-info" (click)="search()">
  Search 
 </button>


  </form> -->
   <div *ngIf="isSearched"> 
  <table border="1">
      <thead></thead>
      <tr>
        <th>Task Name</th>
        <th>Parent task Name</th>
        <th>Priority</th>
        <th>Start date</th>
        <th>End date</th>
      </tr>
      <tbody>
          <tr *ngFor="let basictask of tasks">
              <td>{{basictask.name}}</td>
              <td>{{basictask.parentTask}}</td>
              <td>{{basictask.priority}}</td>
              <td>{{basictask.startDate}}</td>
              <td>{{basictask.endDate}}</td>
              <td><button class="btn btn-info"> Edit</button></td>
              <td><button class="btn btn-info"> End Task</button></td>
              
          </tr>
      </tbody>
    </table>
  </div>
</div>
